.main {
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  perspective: 1000px;
}

.box-1 {
  width: 150px;
  height: 150px;
  background-color: aqua;
  border-radius: 10px;
  transition: all 1s ease-in-out;
}

.box-1:hover {
  transform: translateZ(500px);
  /* transform: rotateX(90deg); */
}
