.btn {
  border: 2px solid tomato;
  color: tomato;
  padding: 10px 20px;
  background-color: transparent;
  transition: all 0.5s ease-in-out;
  position: relative;
  overflow: hidden;
}

.btn::after {
  content: '';
  height: 100%;
  width: 100%;
  background-color: tomato;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.5s ease-in-out;
  transform: translateX(100px);
  /* transform: scaleX(0); */
  /* transform: scaleY(0); */
  z-index: -1;
}

.btn:hover {
  transform: scale(1.05);
  color: white;
}

.btn:hover::after {
  transform: translateX(0px);
  /* transform: scaleX(1); */
  /* transform: scaleY(1); */
}
